<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/css/no.css" rel="stylesheet" type="text/css">
    <title>Login</title>
</head>
<body>
<div class="c75">
    <form action="/user/login" method="post">
        <div><label>Email</label></div>
        <input name="email" placeholder="email" type="email">
        <div><label>Password</label></div>
        <input name="password" placeholder="password" type="password">
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>