<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <div>
        <form action="/signUp" method="post">
            <table>
                <caption>Sign Up</caption>
                <tr><td><input name="username" placeholder="username" type="text"></td></tr>
                <tr><td><input name="password" placeholder="password" type="password"></td></tr>
                <tr><td><input name="email" placeholder="email" type="email"></td></tr>
                <tr><td><button type="submit">Sign Up</button></td></tr>
            </table>
        </form>
    </div>
</body>
</html>